@import "tailwindcss";

@theme {
  --color-primary: #C0392B;
  --color-primary-dark: #7B241C;
  --color-primary-light: #E74C3C;
  --color-secondary: #F1948A;
  --color-accent: #F4A261;
  --color-bg: #F5F0E8;
  --color-white: #FFFFFF;

  --font-sans: 'Inter', sans-serif;
}